# Configuration de la Base de Données PostgreSQL
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todo_db

# Configuration de la Sécurité (JWT)
# Note: La SECRET_KEY doit être une chaîne aléatoire complexe.
SECRET_KEY=7c9b8f2d5e1a4c3b6a9f8e7d2c1b4a0f3e2d1c5b6a7f8e9d0c1b2a3d4e5f6g7h
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
